.container {
	width: 80%;
	background: #ffffff30;
	backdrop-filter: blur(5px);
	border-radius: 10rem;
	font-weight: bold;
}

.customOption {
	background-color: transparent;
	cursor: pointer;
	color: #dddddd;
	padding: 0.8rem;
}

.customOption:not(:last-child) {
	border-bottom: 1px solid #cecece;
}

.customOption:hover {
	background-color: #00000050;
	font-weight: bold;
}
