.container {
	height: 100vh;
	align-items: center;
	flex-direction: column;
	display: flex;
	background: #ccc;
}

.weatherDesc {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}

.header {
	font-size: 4rem;
	height: 15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	justify-content: center;
	width: 100%;
	position: relative;
	z-index: 1;
	font-weight: bolder;
}

.data {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 40vh;
	width: 100%;
	margin-top: 2rem;
}

.tempBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4rem;
}